/* -------- */
/* Defaults */
/* -------- */

:root {
	box-sizing: border-box;
	font-size: 0.9em;
}

*,*::before, *::after {
	box-sizing: inherit;
}

/* ---- */
/* body */
/* ---- */

body {
	background-color: #f4faff;
	font-family: Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

/* ------- */
/* Generic */
/* ------- */

a {
	color: $color2;
	text-decoration: none;
}