#header {
	h1, h2 {
		color: $color2;
		padding: 0;
		margin: 0;
	}
	h1 {
		font-size: 3rem;
		font-weight: normal;
		font-family: serif;
	}
	
	h2 {
		font-size: 1.3rem;
		font-weight: normal;
		font-family: monospace;
	}
	a {
		color: #444;
		text-decoration: none;
	}	
}

