.top-bar {
	background-color: $color2;
	//background-color: rgb(0, 147, 216);
	
	a {
		color: white;
		padding: 10px;
		text-decoration: none;
		display: inline-block;
	}
}

body.pre {
	.top-bar {
		background: linear-gradient(to right, $color2, rgb(0, 147, 216));
	}
}

body.test {
	.top-bar {
		background: linear-gradient(to right, #777, white);
	}
}