#main_content {
	background-color: #fff;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	padding: 1em;
	margin-top: 0;
	
	h1, h2, h3, h4 {
		color: $color2;
		font-weight: bold;
	}
	h1 {font-size: 1.9rem; margin-bottom: 1rem;}
	h2 {font-size: 1.5rem;}
	h3 {font-size: 1.1rem;}
	h4 {font-size: 1.0rem;}
	
	.alerta p, .assert p {
		border: 2px solid #ff4b9c;
		background-color: rgb(255, 210, 231);
		border: 2px solid #7d29cd;
		background-color: #e7cffd;
		border: 2px solid #1483ef;
		background-color: #dcedfd;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0.7em;
	}
	.alerta p {
		border-color: $color1;
	}
	.alerta p {
		border-color: #1bb537;
		background-color: #e6fdea;
	}
	
	p {
		text-align: justify;
	}	

	#div_publi {
		p {
			text-align: left;
		}
	}

	
	div.preamble p
	{
		text-align: right;
	}
}

