.card-body {
	padding: 0.3rem;
}

.card-title {
	text-align: center;
}

.card {
	p{
		text-align: left !important;
	}
	border-color: rgb(0, 147, 216);
	border-color: $color2;
	border-radius: 0;
	.title {
		background-color: $color2;
		font-weight: normal;
		color: white;
		border-bottom: 1px solid $color2;
	}
	margin-bottom: 1em;
}

div.test {
	.card {
		border-color: #333;
		.title {
			background: linear-gradient(to right, #777, white);;
			border-bottom: 1px solid #333;
		}
	}
}

div.pre {
	.card {
		.title {
			background: linear-gradient(to right, $color2, rgb(0, 147, 216));
		}
	}
}
