.card-body {
	padding: 0.3rem;
}

.card-title {
	text-align: center;
}

.card {
	p{
		text-align: left !important;
	}
	border-color: rgb(0, 147, 216);
	border-color: #333;
	border-color: $color2;
	border-radius: 0;
	border-radius: 5px;
	.title {
		background-color: rgb(0, 147, 216);
		background-color: white;
		background-color: $color2;
		font-weight: normal;
		color: white;
		color: #333;
		color: white;
		
		border-bottom: 1px solid rgb(0, 147, 216);
		border-bottom: 1px solid #333;
		border-bottom: 1px solid $color2;
	}
	margin-bottom: 1em;
}