<h2>${lang.get("lat.sponsors.title")}</h2>
<p>${lang.get("lat.sponsors.1")}</p>
<p>${lang.get("lat.sponsors.2")}</p>
<p>${lang.get("lat.sponsors.3")}</p>
<p>${lang.get("lat.sponsors.4")}</p>
    	
<div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- STxT - Adaptable -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0611338592562725"
     data-ad-slot="5037052041"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
