<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>${doc.getText()}</title>
<meta name="description" content="${meta.getChild("description").text}">
<meta name="author" content="${meta.getChild("author").value}">

<link rel="stylesheet" href="/css/site.css">
<script src="/js/cookie.js?v=1"></script>
<script src="/js/page.js?v=1"></script>
