<div class="container-xxl">
	<div class="row">
		<div class="col">
			<a href="/${lang.get("lang")}/about.html" title="${lang.get("menu.about")}">${lang.get("menu.about")}</a>
			<a href="/${lang.get("lang")}/donate.html" title="${lang.get("menu.donate")}">${lang.get("menu.donate")}</a>
			<a href="/${lang.get("lang")}/contribute.html" title="${lang.get("menu.contrib")}">${lang.get("menu.contrib")}</a>
			<a href="/${lang.get("lang")}/licence.html" title="${lang.get("menu.licence")}">${lang.get("menu.licence")}</a>
		</div>
	</div>
</div>
