#if(${lang.get("lang")} == "es")
	<b>${lang.get("menu.lang.es")}</b>
	<a href="../ca/${doc_name}.html" onclick="setLang('ca'); return false;"  title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.ca")}</i></a>
#end
#if(${lang.get("lang")} == "ca")
	<a href="../es/${doc_name}.html" onclick="setLang('es'); return false;" title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.es")}</i></a>
	<b>${lang.get("menu.lang.ca")}</b>
#end
