<!DOCTYPE html>
#parse("/init.vm")
<html lang="${lang.get("lang")}">
<head>
	#parse("/head.vm")
</head>

<body>

	<!-- *********** -->
	<!-- main_header -->
	<!-- *********** -->
	
    <header id="main_header">
	    <h1>
			<a href="index.html">CampusEmpresa</a>
		</h1>
		<h2><a href="index.html"><i>${lang.get("title")}</i></a></h2>
		<div style="text-align:right">
			#if(${lang.get("lang")} == "es")
				<b>${lang.get("menu.lang.es")}</b>
				<a href="../ca/${doc_name}.html" onclick="setLang('ca'); return false;"  title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.ca")}</i></a>
			#end
			#if(${lang.get("lang")} == "ca")
				<a href="../es/${doc_name}.html" onclick="setLang('es'); return false;" title="${lang.get("menu.lang.es")}"><i>${lang.get("menu.lang.es")}</i></a>
				<b>${lang.get("menu.lang.ca")}</b>
			#end
		</div>
    </header>

	<!-- ******* -->
	<!-- top bar -->
	<!-- ******* -->
	
    <div class="top-bar">
    	<ul>
			<li><a href="about.html" title="${lang.get("menu.about")}">${lang.get("menu.about")}</a></li>
			<li><a href="donate.html" title="${lang.get("menu.donate")}">${lang.get("menu.donate")}</a></li>
			<li><a href="contribute.html" title="${lang.get("menu.contrib")}">${lang.get("menu.contrib")}</a></li>
			<li><a href="licence.html" title="${lang.get("menu.licence")}">${lang.get("menu.licence")}</a></li>
    	</ul>
    </div>
	
	<!-- ******* -->
	<!-- Content -->
	<!-- ******* -->
	
    <div id="main_content" class="clearfix">
      <article>
		#parse("/navigation.vm")
		
		#parse("/doc.vm")	
	
		#if($doc.getChilds("text").size()>0)
			#parse("/navigation.vm")
		#end
	  </article>
	  	
	  <aside id="advertisement">
    	<h2>${lang.get("lat.ads.title")}</h2>
    	<p>${lang.get("lat.ads.1")}</p>
    	<p>${lang.get("lat.ads.2")}</p>
    	
    	#parse("/ads.vm")
	  </aside>
	</div>
	
	<footer>${lang.get("foot.1")}</footer>
	
	<div id="cookies_adv">
		${lang.get("cookies_1")}
        <a href="javascript:accept();" class="button">${lang.get("cookies_2")}</a>
        <a href="cookies.html">${lang.get("cookies_3")}</a>
    </div>
    <script>checkCookies();</script>
</body>
</html>
