<!DOCTYPE html>
#parse("/init.vm")
<html lang="${lang.get("lang")}">
<head>
	#parse("/head.vm")
</head>

<body>
	<div id="main_header2" class="container-xxl">
		<div class="row">
			<div class="col-12 p-0">
				<h1 class="m-0 p-0" id="main_title"><a href="/index.html"><img src="/img/logo-web-transparent.png"></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 p-0">
				<h2 id="main_subtitle">${lang.get("title")}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-end text-bottom" id="right_menu">
				#parse("menu_idioma.vm")
			</div>
		</div>
	</div>

    <div class="top-bar">
    	#parse("/menu_top.vm")
    </div>
	
    <div id="main_content" class="clearfix">
    	<article>
			#parse("/doc.vm")	
	  	</article>
		<aside id="advertisement">
	  		#parse("/ads.vm")
	  	</aside>
	</div>
	
	<footer>${lang.get("foot.1")}</footer>
	
	<div id="cookies_adv">
		${lang.get("cookies_1")}
        <a href="javascript:accept();" class="button">${lang.get("cookies_2")}</a>
        <a href="cookies.html">${lang.get("cookies_3")}</a>
    </div>
    <script>checkCookies();</script>
</body>
</html>
