<!DOCTYPE html>
#parse("/init.vm")
<html lang="${lang.get("lang")}">
<head>
	#parse("/head.vm")
</head>

<body>
	<div id="header" class="container-xxl">
		<div class="row">
			<div class="col-12 p-0">
				<h1 class="m-0 p-0">
					<a href="/index.html"><img src="/img/logo-web-transparent.png" style="visibility:hidden"></a>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-8 p-0 m-0">
				<h2>${lang.get("title")}</h2>
			</div>
			<div class="col-4 text-end p-0 m-0">
				#parse("menu_idioma.vm")
			</div>
		</div>
	</div>

    <div class="top-bar container-fluid">
    	#parse("/menu_top.vm")
    </div>
	
    <div id="main_content" class="container-xxl">
    	<div class="row">
    		<div class="col col-8">
    			#parse("/doc.vm")
    		</div>
    		<div class="col col-4">
    			#parse("/ads.vm")
    		</div>
    	</div>
	</div>
	
    <div class="container-xxl mt-3">
		<div class="row">
			<div class="col">
				<footer>${lang.get("foot.1")}</footer>
			</div>
		</div>
	</div>	
	
	<div id="cookies_adv">
		${lang.get("cookies_1")}
        <a href="javascript:accept();" class="button">${lang.get("cookies_2")}</a>
        <a href="cookies.html">${lang.get("cookies_3")}</a>
    </div>
    <script>checkCookies();</script>
</body>
</html>
